/*首页顶部导航栏样式*/
.navTop{
	width: 100%;
	height: 90px;
	background: rgba(0,0,0,.6);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	
}
.TopBox{
	width: 1280px;
	min-width: 1200px;
	height: 100%;
	position: relative;
	margin: 0 auto;
	
}
.navTop ul{

	min-width: 980px;
	height: 100%;
	margin: 0 auto;
	line-height: 90px;
	clear: both;
	overflow: hidden;
	position: absolute;
	left: 290px;
}
.navTop ul li{
	height: 88px;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	margin-right: 20px;
	padding: 0 5px;
	float: left;
	cursor: pointer;
	min-width: 66px;
}
.navTop ul li:hover{
	border-bottom: 2px solid #5ddfff;
	color:#5ddfff ;
}
.indexLogo{
	height: 90px;
	line-height: 90px;
	position: absolute;
	left: 50px;
	top: 0;
	
}
.indexLogo img{
	margin-top: 20px;
	height: 50px;
}
/*首页栏目介绍*/