/*.content{
	width: 100%;
	min-width: 1200px;
	overflow: hidden;
}*/
/*首页顶部导航栏样式*/
.navTop{
	width: 100%;
	min-width: 1200px;
	height: 90px;
	background: rgba(0,0,0,.6);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	
}
.TopBox{
	width: 1280px;
	min-width: 1200px;
	height: 100%;
	position: relative;
	margin: 0 auto;
	
}
.navTop ul{

	min-width: 980px;
	height: 100%;
	margin: 0 auto;
	line-height: 90px;
	clear: both;
	overflow: hidden;
	position: absolute;
	left: 290px;
}
.navTop ul li{
	height: 88px;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	margin-right: 20px;
	padding: 0 5px;
	float: left;
	cursor: pointer;
	min-width: 66px;
}
.navTop ul li:hover{
	border-bottom: 2px solid #5ddfff;
	color:#5ddfff ;
}
.indexLogo{
	height: 90px;
	line-height: 90px;
	position: absolute;
	left: 50px;
	top: 0;
	
}
.action{
	border-bottom: 2px solid #5ddfff;
	color:#5ddfff!important;
}
.indexLogo img{
	margin-top: 20px;
	height: 50px;
}
/*首页栏目介绍*/
.tripNav{
	background:#282c35 ;
	width: 100%;
	min-width: 1200px;
	height: 130px;
}
.tripNav ul{
	width: 1200px;
	margin: 0 auto;
	clear: both;
	overflow: hidden;
}
.tripNav ul li{
	width: 33%;
	height: 130px;
	float: left;
	border-left: 1px solid rgba(62,69,81,1);
	border-right: 1px solid rgba(62,69,81,1);
	position: relative;
	cursor: pointer;
	/*clear: both;
	overflow: hidden;*/
}
.tripBox{
	position: absolute;
	top: 130px;
	left: 0;
	width: 100%;
	height: 100%;
	background:rgba(3,10,20,0.8);
	z-index: 100;
}
.tripBox p{
	/*line-height: 100px;*/
	height: 100%;
	width: 100%;
	padding: 25px;
	color: #FFFFFF;
	font-size: 16px;
	box-sizing: border-box;
}
.tripImg{
	height: 100%;
	width: 30%;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	line-height: 130px;
}
.tripImg img{
	height: auto;
	width: 45%;
	    vertical-align: middle;
	
}
.tripNav ul li>p{
	color: #FFFFFF;
	width: 60%;
	height: 100%;
	font-size: 16px;
	line-height: 130px;
	position: absolute;
	right: 20px;
}
/*模块样式*/
.makesup{
	width: 100%;
	background: #FFFFFF;
	padding: 100px 0;
}
.module{
	width: 1200px;
	min-width: 1200px;
	margin:0 auto;
	background: #fff;
	clear: both;
	overflow: hidden;
	position: relative;
}
.moduleBox{
	width: 380px;
	height: 350px;
	background: #f1f1f1;
	display: inline-block;
	/*border: 1px #c1c1c1 solid;*/
	box-sizing: border-box;
	position: relative;
	cursor: pointer;
}
.moduleBox:nth-child(2){
	margin: 0 25px;
}
.moduleTitle{
	width: 1200px;
	min-width: 1200px;
	margin: 0 auto;
	font-size: 22px;
	color: #494949;
	margin-bottom: 30px;
	padding-bottom: 10px;
	border-bottom: 1px solid #c1c1c1;
}
.oneIndex{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0);
	z-index: 11;
	color: #fff;
	text-align: center;
}
.twoIndex{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
	display: none;
}
.twoIndex img{
	height: 100%;
	width: 100%;
}
.text{
	width: 90%;
	margin: 0 auto;
	margin-top: 50px;
	color: #898989;
	font-size: 16px;
	padding-bottom: 20px;
	border-bottom: 1px solid #c1c1c1;
}
.text p:nth-child(1){
	font-size: 20px;
	color: #333;
	margin-bottom: 30px;
}
.moduleBox:hover div.text>p:nth-child(1){
	color: #fff;
}
/*公司优势*/
.advantage{
	width: 1200px;
	margin: 0 auto; 
	margin-top: 30px;
	padding-bottom: 50px;
}
/*.advantage ul{
	width: 80%;
	margin: 0 auto;
	clear: both;
	overflow: hidden;
	margin-bottom: 30px;
}
.advantage ul li{
	width: 25px;
	height: 25px;
	float: left;
	background: #007AFF;
	text-align: center;
	margin-left: 30px;
	border-radius: 50%;
	line-height: 25px;
	
}*/
.advantage ul li span{
	color: #fff;
}
.advantageBox{
	height: 250px;
	line-height: 250px;
	text-align: center;
	position: relative;
}
.advantageBox ul{
	    position: absolute;
    width: 1000px;
    /* height: 120px; */
    top: 75px;
    left: 51%;
    /* margin-top: -60px; */
    margin-left: -498px;
    text-align: left;
}
.advantageBox ul li{
	    float: left;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    color: #FFf;
    background: #007AFF;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    margin-left: 113px;
    position: relative;
}
.advantageBox ul li:nth-child(2n) {
    margin-top: 70px;
}
.advan_line_title {
    position: absolute;
    width: 100px;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    left: 50%;
    margin-left: -50px;
    top: -30px;
}
.advantageBox ul li:nth-child(2n)>.advan_line_title {
    top: 30px;
}
.advantageBox ul li:hover{
	background: orange;
}
.advantageBox ul li:hover p{
	color: orange;
}
.advantageBox ul li:hover .advan_line_info{
	display:-webkit-box;
}
.advan_line_info {
    position: absolute;
    color: orange;
    width: 200px;
    font-size: 14px;
    font-weight: 600;
    left: 50%;
    margin-left: -100px;
    top: -80px;
    display: none;
}
.advantageBox ul li:nth-child(2n)>.advan_line_info {
    top: 50px;
}
.chaoTwo{
overflow:hidden; 
text-overflow:ellipsis;
/*display:-webkit-box;*/ 
-webkit-box-orient:vertical;
-webkit-line-clamp:2;
}
/*技术团队样式*/
.coTeam{
	width: 1200px;
	min-width: 1200px;
	margin: 0 auto;
	background: #fff;
	margin-top: 50px;
	padding-bottom: 100px;

}
.Teamcontent{
	width: 100%;
	clear: both;
	overflow: hidden;
	margin-top: 100px;
	
}
.TeamBox{
	display: inline-block;
	width: 280px;
	height: 400px;
	border: solid 1px #5DDFFF;
	margin-left: 13px;
	position: relative;
}
.Teampeople{
	position: absolute;
	height: 100%;
	width: 100%;
	/*background: #000000;*/
}
.Teampeople img{
	height: 70%;
	width: 100%;
}
.Teampeople p{
	height: 29%;
	width: 100%;
	background: #FFFFFF;
	text-align: center;
	line-height: 120px;
	color: #333;
	font-size: 18px;
	/*font-weight: 600;*/
}
.TeamTitle{
	position: absolute;
	background: #fff;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: none;
}
.TeamTitle p{
	padding: 10px;
	font-size: 14px;
	color: rgb(102, 102, 102);
	/*overflow:hidden; 
text-overflow:ellipsis;
display:-webkit-box; 
-webkit-box-orient:vertical;
-webkit-line-clamp:6;*/
}
.TeamTitle h1{
	padding: 10px;
	font-size: 16px;
}
/*合作盟友*/
.cooperation{
	width: 1200px;
	min-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
.cooperation ul{
	clear: both;
	overflow: hidden;
}
.cooperation ul li{
	width: 20%;
	height: 80px;
	float: left;
	/*border: solid 1px #C1C1C1;*/
	box-sizing: border-box;
	text-align: center;
	background: #F1F1F1;
	margin-top: 20px;
	line-height: 80px;
}
.cooperation ul li img{
	    vertical-align: middle;
	width: auto;
	height: auto;
}
/*公共底部样式*/
.commonBottom{
	width: 100%;
	min-width: 1200px;
	background: #353535;
	height: 300px;
	position: relative;
}
.dBottom{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 40px;
	min-width: 1200px;
	border-top: 1px solid #fff;
	line-height: 40px;
	color: #F1F1F1;
	font-size: 14px;
}
.dBottom p{
	margin-left: 20px;
	font-size: 14px;
	line-height: 40px;
	
}
.dBottom span{
	position: absolute;
	right: 20px;
	bottom: 0;
}

/***************************************************技术团队模块样式**************************************************/
/*技术团队二级页面样式开始*/
.myTeamcontent{
	background: #fff;
	width: 1200px;
	min-width: 1200px;
	padding-top: 100px;
	margin:  0 auto;
}
.peopleBox{
	width: 90%;
	border: 2px solid #f1f1f1;
	height: 300px;
	margin-bottom:60px;
	position: relative;
}
.peopleBox:nth-child(2n){
	margin:0 auto;
	margin-bottom:60px;
	
}
.peopleImg{
	width: 30%;
	height: 100%;
	cursor: pointer;
	overflow: hidden;
}
.peopleImg img{
	width: 100%;
	height: 100%;
}
.peopleImg img:hover{
	animation: scalea 1s;
	-moz-animation: scalea 1s;	/* Firefox */
	-webkit-animation: scalea 1s;	/* Safari 和 Chrome */
	-o-animation: scalea 1s;	/* Opera */	
	animation-fill-mode:forwards; 
-webkit-animation-fill-mode:forwards; /* Safari 和 Chrome */
}
@-webkit-keyframes scalea{
	from{transform: scale(1)}
	to{transform: scale(1.3)}
}
.peopleText{
	position: absolute;
	right: 0;
	top: 0;
	width: 70%;
	height: 100%;
	border: 1px solid #5DDFFF;
	padding: 20px;
	box-sizing: border-box;
}
.MyTeamtitle{
	width: 100%;
	min-width: 1200px;
	margin-top: 180px;
	font-size: 26px;
	font-weight: 600;
	color: #898989;
	text-align: center;
	/*border-bottom: 1px solid #898989;*/
}
